/* Definições Gerais */

body {
    margin: 0;
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    gap: 60px;
    margin-top: 60px;
}

.conteudo img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.25rem;
    line-height: 1.3;
}

/* Definições Específicas */

header {
    display: grid;
    justify-items: center;
    gap: 60px;
}


.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* Definir que os blocos do menu se rearranjem em outra linha */
    flex-wrap: wrap;
    list-style: none;
}

.menu a {
    display: block;
    color: black;
    background: white;
    padding: 1rem 2rem;
    border-radius: 4px;
    text-transform: uppercase;
    border: 2px solid white;
}

.menu a:hover {
    border-color: #e21;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.descricao {
    background: white;
    text-align: right;
    padding: 40px;
    display: grid;
    align-content: center;
    gap: 20px;
    justify-items: end;
    position: relative;
}

.descricao h1 {
    font-size: 2rem;
}

.detalhe {
    width: 60px;
    height: 4px;
    background: #e21;
    position: absolute;
    /* Para que seja em relação ao elemento pai, deve-se mudar a posição da div para relativa */
    top: 30px;
    right: -30px;
}

.descricao::before {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #e21;
    position: absolute;
    top: 30px;
    right: -30px;
}

.botao {
    background: #e21;
    padding: 1rem 2rem;
    color: white;
    border-radius: 4px;
}

.botao:hover {
    background-color: #900;
}

.vantagens {
    font-size: 4rem;
    color: #c6c6c6;
    padding: 40px;
    text-align: right;
    align-self: center;
    background-image: url("img/onda.svg");
}

.texto {
    background: #fff;
    padding: 40px;
}

.texto-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
    border-left: 4px solid transparent;
}

.texto-item p {
    grid-column: 2;
}

.texto li:hover {
    border-color: #e21;

}

.texto :nth-child(odd) {
    background-color: #f7f7f7;
}

.rodape {
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    /* Retirar a barra de rolagem na horizontal */
    box-sizing: border-box;
}