/* Definições Gerais */

body {
    margin: 0;
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    gap: 60px;
    margin-top: 60px;
}

.conteudo img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3 {
    margin: 0;
}

p {
    font-size: 20px;
    line-height: 1.3;
}

/* Definições Específicas */

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* Definir que os blocos do menu se rearranjem em outra linha */
    flex-wrap: wrap;
}

.menu a {
    color: black;
    background: white;
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
}

.descricao {
    background: white;
    text-align: right;
    padding: 40px;
    position: relative;
    display: grid;
    align-content: center;
    gap: 20px;
    justify-items: end;
}

.detalhe {
    width: 60px;
    height: 4px;
    background: #e21;
    position: absolute;
    /* Para que seja em relação ao elemento pai, deve-se mudar a posição da div para relativa */
    top: 30px;
    right: -30px;
}

.botao {
    background: #e21;
    padding: 15px 30px;
    color: white;
    border-radius: 4px;
}

.vantagens {
    font-size: 64px;
    color: #c6c6c6;
    padding: 40px;
    text-align: right;
    align-self: center;
}

.texto {
    background: #fff;
    padding: 40px;
}

.texto-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}

.texto-item p {
    grid-column: 2;
}

.rodape {
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 40px;
    /* Retirar a barra de rolagem na horizontal */
    box-sizing: border-box;
}